*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav li{
	display: inline;
}

#logo{
	padding-left: 5%;
	margin-top: .6%;
}

.right-nav {
	display: inline;
	text-align: right;
	float: right;
}

.nav{
	margin-left: 1rem;
	margin-right: 1rem;
}

nav{
	padding-left: 10%;
	padding-right: 6%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: sticky;
	background-color: white;
	top: 0;
}

.tuitt-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border-color: white;
}

#bg-image{
	min-height: 40vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.front-bg{
	min-height: 40vh;
	background-color: black;
	background-color: rgb(0, 0, 0, 0.6);
}

.title{
	font-family: 'Zilla Slab', sans-serif ;
	font-size: 3rem;
	margin-bottom: 2rem;
	line-height: 3rem;
	/*padding: 1rem;*/
	
}

.container{
	text-align: right;
	color: white;
	line-height: 2rem;
	padding: 10px;
	margin-right: 5%;
	float: right;
	width: 35%;
}

.subtitle{
	margin-left: 25%;
	font-size: 24px;
	font-weight: lighter;
	margin-bottom: 1rem;
	line-height: 2rem;
}

.apply-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	padding-left: 50px;
	padding-right: 50px;
}

.intro{
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.title-2{
	font-family: 'Zilla Slab', sans-serif ;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 4rem;
}

.intro-description{
	margin-left: 15%;
	margin-right: 15%;
	line-height: 1.5rem;
}

.pre-footer{
	background-color: #f7fbfb;
	padding-top: 5rem;
	text-align: center;
}

.prefooter-description{
	margin-left: 15%;
	margin-right: 15%;
}

.book-button{
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 1%;
	margin-bottom: 1%;
}

footer{
	text-align: center;
	padding: 1%;
}